<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Feelers Review Rating and Text - {{ title }}</title>
        <!-- CSS, keywords, metadata goes here -->
       <link rel="stylesheet" href="https://unpkg.com/picnic">



    </head>

    <body>
        <h1>Yelp Feelers! </h1>
        {% block content %}
<p> {{ load_msg }} </p>
    <p> User enter:<b> {{ metric.get('usr_text') }}</b></p>

        <form action="/predict_cv"  method="post">

    <p><h3>
	 Predicted by CountVectorizer preprocessing and MultinomialNB model: 
	</h3>
            <input type="text" name="review_text" placeholder="Review_text to get rating">
    <br>Predicted Review Rating<b> {{ metric.get('prediction_cv') }}</b>
    Running time:<b> {{ metric.get('predvc_time') }}</b> secs 
    </br>
            <input type="submit"  value="predict_cv">
        </form>
    </p>

        <form action="/predict_bas"  method="post">
    <p><h3>
	 Predicted by Basilica preprocessing and LogisticRegression model: 
	</h3>
            <input type="text" name="review_text" placeholder="Review_text to get rating">
    <br>Predicted Review Rating<b> {{ metric.get('prediction_bas') }}</b>
    Running time:<b> {{ metric.get('predbas_time') }}</b> secs 
   </br>
            <input type="submit"  value="predict_bas">
    </p>

        </form>
        {% endblock %}

    </body>
</html>
